<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <header></header>
      <div class="form-group row">
        <div class="col-lg-9">
          <input type="text" #todo class="form-control" [(ngModel)]="add" (ngModelChange)="btndis(todo.value)"style="border:1px solid black;" ngModel>
        </div>&nbsp;
        <button *ngIf="btn" type="button" class="btn btn-default" (click)="addTodo(todo.value)">Add</button>
        <app-todolist [todoarray]="todoarray" ></app-todolist>
        <app-completelist [todoarray]="todoarray" ></app-completelist>
      </div>
    </div>
  </div>
</div>
